gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy>=1.9.2
scipy>=0.15.1
pandas>=0.19
streamlit
opencv-python==4.5.1.48
python-dateutil==2.8.1
requests-oauthlib==1.3.0
scikit-image==0.17.2
